@import "tailwindcss";

:root {
	--vaul-overlay-background: 255, 255, 255;
	--vaul-overlay-background-start: rgba(0, 0, 0, 0);
	--vaul-overlay-background-end: rgba(0, 0, 0, 0.4);
}

html {
	overflow-x: hidden;
	background: black;
	height: -webkit-fill-available;
}

body {
	overflow-x: hidden;
}

body,
main {
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
}

main {
	min-height: 100vh;
	background: white;
}

a {
	text-decoration-thickness: 1px;
	text-underline-offset: 2px;
}
